= link_to "Mi Perfil", profile_index_path, class: 'dropdown-item'
= link_to "Historial de ordenes", orders_path, class: 'dropdown-item'
.dropdown-divider
= link_to "Crerrar Sesión", destroy_user_session_path, class: 'dropdown-item', method: 'DELETE'
